{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
</head>
<body>
    <!-- Encabezado -->
    <header class="bg-dark text-white py-3">
        <div class="container d-flex align-items-center">
            <a href="{% url 'index' %}">   
                <img src="{% static 'core/img/logo2.png' %}" alt="logo" style="max-width: 80px; margin-right: 15px;">
            </a>
            <h1 class="mb-0">Bienvenido, {{ cliente.nombre }}</h1>
        </div>
    </header>

    <!-- Contenido Principal -->

    <div class="container mt-5">
        <h2 class="text-center mb-4">Editar Cliente</h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="{% url 'editar_cliente' cliente.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" id="nombre" name="apellidos" class="form-control" value="{{ cliente.nombre }}" required>
                            </div>
                            <div class="form-group">
                                <label for="apellido">Apellidos</label>
                                <input type="text" id="nombre" name="a" class="form-control" value="{{ cliente.apellidos }}" required>
                            </div>
                            <div class="form-group">
                                <label for="nameUser">Nombre usuario</label>
                                <input type="text" id="nameUser" name="nameUser" class="form-control" value="{{ cliente.nameUser }}" required>
                            </div>
                            <div class="form-group">
                                <label for="correo">Email</label>
                                <input type="email" id="correo" name="correo" class="form-control" value="{{ cliente.correo }}" required>
                            </div>
                            <div class="form-group">
                                <label for="clave">Calve</label>
                                <input type="text" id="clave" name="clave" class="form-control" value="{{ cliente.clave }}" required>
                            </div>
                            <div class="form-group">
                                <label for="fecNacimiento">Calve</label>
                                <input type="text" id="fecNacimiento" name="fecNacimiento" class="form-control" value="{{ cliente.fecNacimiento }}" required>
                            </div>
                            <div class="form-group">
                                <label for="direccion">Direcci&oacute;n</label>
                                <input type="text" id="direccion" name="direccion" class="form-control" value="{{ cliente.direccion }}" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                            <a href="{% url 'listado_clientes_admin' %}" class="btn btn-secondary">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




    <!-- Pie de Página -->
    <footer class="bg-dark text-white text-center py-3" style="position: fixed; bottom: 0; width: 100%;">
        <p>Sitio de Administracion</p>
    </footer>

    <!-- Scripts -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
