{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pixelverse Games</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
      <div class="linkHeader">
        <div>
          <div class="btn btn-success">
            <a href="{%  url 'cuenta' %}" > Registrarse</a> 
          </div>
          {% if user.is_authenticated %}
              <!-- Botón para cerrar sesión -->
              <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Cerrar sesión</button>
              </form>
      
              <!-- Condición para superusuario -->
              {% if user.is_superuser %}               
                  <a href="{% url 'listado_clientes_admin' %}" class="btn btn-secondary">Administracion</a>
              <!-- Condición para usuarios del staff -->
              {% elif user.is_staff %}
                  <a href="{% url 'lista_clientes' %}" class="btn btn-primary">Listar los clientes</a>
              {% endif %}
          {% else %}
              <!-- Botón para iniciar sesión -->
              <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
          {% endif %}
        </div>   
      </div>
      <!-- Botón de iniciar/cerrar sesión alineado a la derecha -->
         
         
      <div class="float-start"><img src="{% static 'core/img/logo2.png'%}" width="300" height="65" > </div><br>
      <a href="{%  url 'categoria' %}" class="btn btn-outline-primary">PC</a>
      <a href="{%  url 'categoria' %}" class="btn btn-outline-primary">PlayStation</a>
      <a href="{%  url 'categoria' %}" class="btn btn-outline-primary">Xbox</a>
      <a href="{%  url 'categoria' %}" class="btn btn-outline-primary">Nintendo</a>
    </header>
    
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'core/img/lanzamientos.jpg'%}" class="d-block w-100" alt="Lanzamiento">
        </div>
        <div class="carousel-item">
          <img src="{% static 'core/img/envios.jpg'%}" class="d-block w-100" alt="Envios">
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>

 
  <br>
  <div class="col-md">
    <div class="container center">
      <div class="card">
        <div class="card-header">
          Categor&iacute;as
        </div>
        <div class="card-body">
          <h5 class="card-title">Explora nuestras categoria y encuentra tu juego favorito</h5>
          
          {% for ctg in categoria %}
          <a href="{%  url 'categoria' %}" class="btn btn-outline-success">{{ctg.nombreCategoria}}</a>
          {% endfor %}

        </div>
        <div class="input-group mb-3 formulario">
          <input type="text" class="form-control" placeholder="Busca tu videojuego" aria-label="Recipient's username" aria-describedby="button-addon2">
          <a href="{%  url 'categoria' %}" class="btn btn btn-success">Buscar</a>
        </div>

        
      </div>
    </div>
  </div>


 

<!--inicio-->

<!--Servicio BACK-->
<div class="container mt-5">
  <h2 class="mb-4">Listado de Personajes de Rick y Morty BackEnd</h2>
  <div class="row" id="personajes">
      <!-- Aquí se mostrarán los personajes -->
  </div>
</div>
<!--{{ personajes }}-->
<div class="container">
  <div class="row">
      {% for personaje in personajes %}
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <img src={{personaje.image}} class = "card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">{{personaje.name}}</h5>
                  <p class="card-text">{{personaje.species}}</p>
                  <p class="card-text">{{personaje.location.name}}</p>
              </div>
          </div>
      </div>    
      {% endfor %}
  </div>
</div>


<!--fin-->





  
  <footer class="bg-dark text-white">
    <div class="container  px-4 ">
      <div class="row gx-5">
        <div class="col">
          <b>HORARIO DE ATENCIÓN WEB</b><br>
          Lunes a Viernes:<br>
          De 08:00 AM a 17:30<br>
          Email: servicioalcliente@pixelverse.cl<br><br>
          <b>CONTACTO</b><br>
          Contactenos a través de Redes sociales o al mail servicioalcliente@pixelverse.cl
        </div>
        <div class="col">
          Envíos a Todo Chile en 24 horas Blue Express, Chilexpress y Starken
        </div>
        <div class="col">
          Paga con tarjetas de débito, credito, cuenta rut a través de Webpay o transferencias
        </div>
      </div>
      <div class="text-center">
        <p>ビデオゲームをしましょう!</p>
        <img src="{% static 'core/img/iconFace.png'%}" width="50" height="50">
        <img src="{% static 'core/img/iconInsta.png'%}" width="50" height="50">
        <img src="{% static 'core/img/iconx.png'%}" width="50" height="50">
      </div>
    </div>
  </footer>
    
</body>
</html>